{% extends "main.html" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <form id="form" class="row g-3 needs-validation" novalidate>
        <input type="hidden" id="acao" name="acao" value="{{acao}}">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <div class="card">
          <div class="card-header">
            <a href="/usuario/lista" class="btn btn-warning">Voltar</a>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-md-4">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome"
                  value="{{user.nome}}" required>
                <div class="valid-feedback">Tudo certo!</div>
                <div class="invalid-feedback">Por favor, informe seu nome.</div>
              </div>

              <div class="col-md-4">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                  placeholder="Digite seu sobrenome" value="{{user.sobrenome}}" required>
                <div class="valid-feedback">Tudo certo!</div>
                <div class="invalid-feedback">Por favor, informe seu sobrenome.</div>
              </div>

              <div class="col-md-6">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF"
                  value="{{user.cpf}}" required>
                <div class="valid-feedback">Tudo certo!</div>
                <div class="invalid-feedback">Por favor, informe um CPF válido.</div>
              </div>

              <div class="col-md-6">
                <label for="rg" class="form-label">RG</label>
                <input type="text" class="form-control" id="rg" name="rg" placeholder="Digite seu RG"
                  value="{{user.rg}}" required>
                <div class="valid-feedback">Tudo certo!</div>
                <div class="invalid-feedback">Por favor, informe seu RG.</div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="button" id="insert">Salvar</button>
              </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% include "script.html"%}
<script defer type="module" src="/js/user.js"></script>
{% endblock %}